img, video {
  all: unset;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'MyFont', sans-serif;
  background-color: black;
  color: #d2d2d2;
  @apply scroll-smooth;
}

section {
  @apply w-full ml-auto mr-auto px-5 lg:px-40 xl:px-64 3xl:px-[23rem] my-10;
}
